{{host_id,'joq62-X550CA'},{ip,"192.168.1.50"},{port,22},
	{master,"master"},
	{slaves,["slave0","slave1","slave2","slave3","slave4"]}}.
{{host_id,'joq62-X550CA'},{ip,"192.168.0.100"},{port,22},
	{master,"master"},
	{slaves,["slave0","slave1","slave2","slave3","slave4"]}}.
{{host_id,'c0'},{ip,"192.168.1.200"},{port,22},
	{master,"master"},	
	{slaves,["slave0","slave1","slave2","slave3","slave4"]}}.
{{host_id,'c1'},{ip,"192.168.1.201"},{port,22},
	{master,"master"},
	{slaves,["slave0","slave1","slave2","slave3","slave4"]}}.
{{host_id,'c2'},{ip,"192.168.1.202"},{port,22},
	{master,"master"},
	{slaves,["slave0","slave1","slave2","slave3","slave4"]}}.