{{id,'joq62-X550CA'},{ip,"192.168.1.50"},{port,22}
	,{slaves,["slave0","slave1","slave2","slave3","slave4"]}}.
{{id,'c0'},{ip,"192.168.1.200"},{port,22},
	{slaves,["slave0","slave1","slave2","slave3","slave4"]}}.
{{id,'c1'},{ip,"192.168.1.201"},{port,22},
	{slaves,["slave0","slave1","slave2","slave3","slave4"]}}.
{{id,'c2'},{ip,"192.168.1.202"},{port,22},
		{slaves,["slave0","slave1","slave2","slave3","slave4"]}}.