{"joq62-X550CA",[{"slave0","-setcookie abc"},
		  {"slave1","-setcookie abc"},
		  {"slave2","-setcookie abc"},
		  {"slave3","-setcookie abc"},
		  {"slave4","-setcookie abc"}
		 ]
 }.
 {"c0",[{"slave0","-setcookie abc"},
		  {"slave1","-setcookie abc"},
		  {"slave2","-setcookie abc"},
		  {"slave3","-setcookie abc"},
		  {"slave4","-setcookie abc"}
		 ]
 }.
 {"c1",[{"slave0","-setcookie abc"},
		  {"slave1","-setcookie abc"},
		  {"slave2","-setcookie abc"},
		  {"slave3","-setcookie abc"},
		  {"slave4","-setcookie abc"}
		 ]
 }.
 {"c2",[{"slave0","-setcookie abc"},
		  {"slave1","-setcookie abc"},
		  {"slave2","-setcookie abc"},
		  {"slave3","-setcookie abc"},
		  {"slave4","-setcookie abc"}
		 ]
 }.
 